<p>home works!</p>
<button class="btn btn-success" (click)="onLogin()">Login</button>
<button class="btn btn-danger" (click)="onLogout()">Logout</button>


<section id="header">

    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>
    <app-header></app-header>

</section>


<section id="footer">
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>
    <app-footer></app-footer>

</section>


<section id="about">
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>
    <app-aboutus></app-aboutus>


</section>